* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

:root {
  font-size: 1rem;

  --mainBackground: #fff;
  --titleColor: #1a202c;
  --linkColor: #2b6cb0;
  --1ctaButtonBackground: #04c35c;
  --2ctaButtonBackground: #1a202c;
}

html {
  font-size: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  height: 100vh;

  margin: 0 160px;
}

.container .illustration img {
  width: 100%;
  max-width: 400px;
  height: 330px;
}

.mainContentContainer .text p {
  color: var(--titleColor);

  font-family: 'Merriweather', serif;
  font-size: 1rem;

  margin-bottom: 0.5rem;
}

.mainContentContainer fieldset legend {
  color: var(--titleColor);

  font-family: 'Merriweather', serif;
  font-size: 1.625rem;
  font-weight: 700;

  margin-bottom: 2.4375rem;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;

  margin-bottom: 0.5rem;
}

form input {
  border: 1px solid #e8e8e8;
  padding: 16px 20px;
}

form input#emailInput {
  margin-bottom: 0.5rem;
}

form input#passwordInput {
  margin-bottom: 1.75rem;
}

form input::placeholder {
  color: #1a202c;
  font-size: 0.875rem;
}

fieldset {
  max-width: 347px;
  width: 100%;
}

fieldset div.div {
  display: flex;
  justify-content: space-between;

  font-size: 0.875rem;

  padding: 1.625rem 0.5rem;
}

fieldset div.div .rememberInputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

fieldset div.div .forgotPassword a {
  color: var(--linkColor);
}

fieldset .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset .buttons button {
  background-color: var(--1ctaButtonBackground);
  color: #fff;

  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;

  padding: 16px 151px;
  border-radius: 5px;

  cursor: pointer;

  transition: background 0.2s;
}

fieldset .buttons button:hover {
  background-color: #04b154;
  text-decoration: underline;
}

fieldset .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-size: 1rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;

  background-color: var(--2ctaButtonBackground);
  color: #fff;

  margin-bottom: 1rem;
  padding: 16px 60px;
  border-radius: 5px;
}

fieldset .buttons a:hover {
  text-decoration: underline;
}

fieldset .buttons a > img {
  width: 20px;
  height: 20px;
}

fieldset .createAccount a {
  color: var(--linkColor);
}

@media (max-width: 996px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .illustration {
    display: none;
  }
}
